.educ-Next {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    color: mediumblue;
    cursor: pointer;
    border: 3px solid mediumblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-out 0.4s;
    animation: fadeIn ease-in 1s;
}

.educ-Next:hover {
    background-color: mediumblue;
    transition: all ease 0.4s;
}

.a1 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(-45deg);
    display: inline-block;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.397)
}

.a2 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(45deg);
    display: inline-block;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.397)
}

.fade-in {
    animation: fadeIn ease-in 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.educ-panel {
    background-color: #282c347e;
    border-radius: 40px;
    width: 70%;
    height: 18em;
    padding-bottom: 1em;
    display: block;
    margin-left: 14%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: -15%;
    animation: fadeIn ease-in 1s;
    overflow: scroll;
}

.educ-panel::-webkit-scrollbar { 
    display: none;
}

.educ-heading {
    font-family: 'Pacifico', cursive;
}

.study {
    margin-top: 1em;
    background-color: #282c347e;
    width: 93.5%;
    height: auto;
    transition: ease-out 0.4s;
    /* padding: 5px; */
}

.study:hover {
    box-shadow: 2px 0px rgba(0, 0, 0, 0.527);
    transition: ease-in 0.4s;
}

.school-img {
    float: left;
    padding: 5px;
}

.img-sch {
    width: 300px;
    height: 200px;
}

.school-info {
    margin-left: 13em;
    height: 200px;
    text-align: left;
    padding: 5px;
    line-height: 2px;
}

.institution {
    margin-top: 10px;
}

.educ-level {
    font-size: 12px;
}

.years {
    font-size: 12px;
}

.course-heading {
    margin-top: 3em;
    font-size: 14px;
    font-weight: bold;
}

.relevant-courses {
    font-size: 14px;
    line-height: 16px;
}

.educ-sections {
    margin-left: 2em;
}