@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.Next-WK {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    color: mediumblue;
    cursor: pointer;
    border: 3px solid mediumblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: ease-out 0.4s;
    animation: fadeIn ease-in 1s;
}

.Next-WK:hover {
    background-color: mediumblue;
    transition: all ease 0.4s;
}

.a1 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(-45deg);
    display: inline-block;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.397)
}

.a2 {
    margin-top: 18px;
    width: 18px;
    border-bottom: 8px solid white;
    transform: skewY(45deg);
    display: inline-block;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.397)
}

.panel-wk {
    background-color: #282c347e;
    border-radius: 40px;
    width: 70%;
    height: 19em;
    display: block;
    margin-left: 14%;
    margin-top: -16%;
    animation: fadeIn ease-in 1s;
}

.panel::-webkit-scrollbar { 
    display: none;
}

.panel[fadeout="1"] {
    animation: fadeOut ease-out 1s;
}

.wk-heading {
    font-family: 'Pacifico', cursive;
}

.line-1 {
    margin-left: 50%;
    width: 1px;
    height: 3.5em;
    border-left: 4px solid black;
    display: block;
}

.line-2 {
    margin-left: 50%;
    width: 1px;
    height: 2em;
    border-left: 4px solid black;
    display: block;
}

.circle-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    display: block;
    margin-left: 3%;
}

.timeline {
    width: 15px;
    float: left;
    margin-left: 4%;
}

.section-id-1 {
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    font-size: 75%;
}

.drop-down-WK {
    float: left;
    width: 20px;
    height: 30px;
    margin-top: -3px;
    transform: rotate(-90deg);
}

.drop-down-WK[drop="1"] {
    float: left;
    height: 30px;
    margin-top: -10px;
    margin-left: 5px;
    transform: rotate(0deg);
}

.drop-down-WK:hover {
    cursor: pointer;
}

.d1-WK {
    display: inline-block;
    border-bottom: 5px solid mediumblue;
    width: 0.3em;
    transform: skewY(45deg);
}

.d2-WK {
    display: inline-block;
    margin-top: -2.1em;
    border-bottom: 5px solid mediumblue;
    width: 0.3em;
    transform: skewY(-45deg);
}

.WK-comp {

    margin-left: 2.1em;
    height: 25%;
    
}

.WK-data {
    margin-left: 0.5em;
    width: 6em;
    height: 1em;
}

.WK-Cat {
    font-size: 18px;
}

.WK-Cat:hover {
    color: mediumblue;
    cursor: pointer;
}

.WK-content {
    font-size: 12px;
    margin-top: -0.5em;
}

.title-WK {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
}

.SW-USD-WK {
    margin-top: -10px;
    padding-left: 5px;
    text-align: left;
}

.DSCR-WK {
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    padding-bottom: 5px;
    font-style: italic;
}

.jobs {
    margin-top: 4.6em;
}

.WK-section {
    height: 3.3em;
}